<!-- <section class="middle">
    <div class="row_main">
        <div class="title">
            <h2>Colors For Drawing</h2>
            <h3>Tips : Hover the mouse over the cube , see colours and identify them</h3>
        </div>
    </div>
<div class="middle2">
    <div class="row2">
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
    </div> 
    </div>
</section> -->
