<div class="content">
    <!-- <div class="row_main">
        <div class="title">
            <h2>Choose Your Subject , Learn With Fun</h2>
        </div>
    </div> -->

    <div class="header" id="header">
        <div class="nav">
            <label></label>
            <div class="switchs">
                <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i>
                    Home</button>
                <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i
                        class="fa fa-cog"></i> Services</button>
                <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i
                        class="fa fa-sign-in"></i>
                    LOGIN</button>
                <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i
                        class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
    <section class="middle">
        <div class="row_main">
            <div class="title">
                <h2>Funny Mind Blowing Facts</h2>
            </div>
        </div>
        

    </section>
    <section class="middle">
        <div class="row_main">
            <div class="title">
                <h2>Famous Festivals Interesting Facts</h2>
            </div>
        </div>
    
    
    </section>
    <section class="middle">
        <div class="row_main">
            <div class="title">
                <h5>Enviromental Facts</h5>
            </div>
        </div>
    
    
    </section>

</div>