<div class="content">
    <!-- <div class="row_main">
        <div class="title">
            <h2>Choose Your Subject , Learn With Fun</h2>
        </div>
    </div> -->

    <!-- <div class="header" id="header">
        <div class="nav">
            <label></label>
            <div class="switchs">
                <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i>
                    Home</button>
                <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i
                        class="fa fa-cog"></i> Services</button>
                <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i
                        class="fa fa-sign-in"></i>
                    LOGIN</button>
                <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i
                        class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
            </div>
        </div>
    </div> -->
<section class="middle">
    <div class="row_main">
        <div class="title">
            <h2>Choose Your Subject , Learn With Fun</h2>
        </div>
    </div>
    <div class="container">
<div class="row">
    <div class="col1">
        <div class="btn" [routerLink]="['/sinhala']"><a>Sinhala</a></div>
        <div class="btn"><a>English</a></div>
        <div class="btn"><a>Drawing</a></div>
        <div class="btn" [routerLink]="['/drawing']"><a>Drawing</a></div>
        <div class="btn"><a>Maths</a></div>
        <!-- <img class="floating" id="img1" [src]="'assets/img/grade-bg.png'"> -->
    </div>
    <div class="col2">
        <div class="btn"><a>Mr. U.B.Aravinda</a></div>
        <div class="btn"><a>Gihan Chamindu</a></div>
        <div class="btn"><a>Miss. Binguni Sandamali</a></div>
        <div class="btn"><a>Mr. Chamindu</a></div>
        <div class="btn"><a>Mr. Asanka Gamage</a></div>
    </div>
    <!-- <div class="col3">
            
        </div> -->

</div>
    </div>
    
</section>

<!-- <div class="middle2">
    <div class="row2">
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
        </div>
        <div class="cube">
            <div style="--x:-1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:0;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
            <div style="--x:1;--y:0">
                <span style="--i:3;"></span>
                <span style="--i:2;"></span>
                <span style="--i:1;"></span>
            </div>
    </div>
</div> -->
    

</div>
