/* You can add global styles to this file, and also import other style files */

.back-snackbar {
  background: black !important;
  color: white !important;
}

.green-snackbar {
  background: #32cd32 !important;
  color: white !important;
}
